.nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    margin-top: 30px;
    height: 70px;
    width: 100%;
    max-width: 1280px;
    background-color: rgba(19, 19, 19, 0.85);
    color: #a3a3a3;
    font-family: "Nunito-Regular";
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Effet Glassmorphism */
    backdrop-filter: blur(10px); /* Ajoute le flou de fond */
    -webkit-backdrop-filter: blur(10px); /* Compatibilité pour les navigateurs Webkit */

    /* Navbar visible */
    &.visible {
        transform: translateX(-50%) translateY(0); // Position normale (visible)
        opacity: 1;
    }

    /* Navbar cachée */
    &.hidden {
        transform: translateX(-50%) translateY(-100%); // Déplace la navbar vers le haut
        opacity: 0;
    }

    .leftSection {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;

        .homeIcon {
            background-color: #e5e5e5;
            color: #0e0e0e;
            font-size: 25px;
            padding: 11px;
            border-radius: 30px;
            cursor: pointer;

            &:hover {
                background-color: #d4d3d3;
            }
        }

        span {
            cursor: pointer;

            &:hover {
                color: #f5f5f5;
            }
        }
    }

    .rightSection {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 18px;

        .githubIcon {
            background-color: #262626;
            color: #a3a3a3;
            font-size: 19px;
            padding: 10px;
            border-radius: 30px;
            cursor: pointer;

            &:hover {
                color: #f5f5f5;
            }
        }

        .linkedinIcon {
            background-color: #262626;
            color: #a3a3a3;
            font-size: 19px;
            padding: 10px;
            border-radius: 30px;
            cursor: pointer;

            &:hover {
                color: #f5f5f5;
            }
        }

        .contactBtn {
            background-color: #e5e5e5;
            color: #0e0e0e;
            padding: 10px;
            border-radius: 6px;
            cursor: pointer;

            .arrowIcon {
                color: #0e0e0e;
                padding-left: 2px;
            }

            &:hover {
                background-color: #d4d3d3;
            }
        }
    }
}