.nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    // margin-top: 20px !important;
    height: 70px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #131313;
    color: #a3a3a3;
    border-radius: 20px;
    position: fixed; /* Fixe la navbar pour qu'elle suive le scroll */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.hidden {
        transform: translateY(-100%) translateX(-50%); /* Cache la navbar vers le haut */
        opacity: 0; /* Rendre invisible */
    }

    &.visible {
        transform: translateY(0) translateX(-50%); /* Réapparait en position normale */
        opacity: 1; /* Rendre visible */
    }

    .leftSection {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;

        .homeIcon {
            background-color: #e5e5e5;
            color: #0e0e0e;
            font-size: 22px;
            padding: 10px;
            border-radius: 30px;
        }
    }

    .rightSection {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 18px;

        .githubIcon {
            background-color: #262626;
            color: #a3a3a3;
            font-size: 19px;
            padding: 10px;
            border-radius: 30px;
        }

        .linkedinIcon {
            background-color: #262626;
            color: #a3a3a3;
            font-size: 19px;
            padding: 10px;
            border-radius: 30px;
        }

        .contactBtn {
            background-color: #e5e5e5;
            color: #0e0e0e;
            padding: 10px;
            border-radius: 6px;

            .arrowIcon {
                color: #0e0e0e;
                padding-left: 2px;
            }
        }
    }
}